QMainWindow {
    background: #EEF2FF;
    font-family: "Segoe UI";
    color: #1E293B;
}

QToolBar {
    background: white;
    border: none;
    border-bottom: 1px solid #D6DBF5;
    padding: 14px;
    spacing: 10px;
}

QPushButton {
    border: none;
    border-radius: 14px;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

#btn_refresh {
    background: #64748B;
}

#btn_add {
    background: #4318FF;
}

#btn_edit {
    background: #05CD99;
}

#btn_delete {
    background: #EE5D50;
}

#btn_save {
    background: #4318FF;
}

QPushButton:hover {
    opacity: 0.85;
}

QLineEdit,
QComboBox,
QTextEdit {
    background: transparent;
    color: #1E293B;
    border: none;
    font-size: 13px;
}

QLineEdit:focus,
QComboBox:focus,
QTextEdit:focus {
    border: 2px solid #4318FF;
}

QTableWidget {
    background: white;
    border-radius: 20px;
    border: 1px solid #E2E8F0;
    padding: 10px;
    gridline-color: transparent;
}

QTableWidget::item {
    padding: 16px;
    border: none;
    color: #1E293B;
}

QTableWidget::item:selected {
    background: #DCE7FF;
    color: black;
}

QHeaderView::section {
    background: #2B3674;
    color: white;
    border: none;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}

#main_title {
    font-size: 28px;
    font-weight: bold;
    color: #2B3674;
}

#subtitle {
    color: #64748B;
    font-size: 13px;
}

#detail_title {
    font-size: 20px;
    font-weight: bold;
    color: #2B3674;
}

#loading_label {
    background: white;
    padding: 10px 18px;
    border-radius: 12px;
    color: #475569;
    border: 1px solid #CBD5E1;
    font-weight: bold;
}

#dashboard_card {
    background: white;
    border-radius: 16px;
    border: 1px solid #D6DBF5;
    padding: 14px;
    min-height: 55px;
    font-size: 14px;
    font-weight: bold;
    color: #2B3674;
}

#detail_panel {
    background: #F8FAFF;
    border-radius: 24px;
    border: 1px solid #D6DBF5;
    padding: 16px;
}

QDialog {
    background: #F8FAFF;
    color: black;
}

#dialog_title {
    font-size: 24px;
    font-weight: bold;
    color: #4318FF;
}

#form_label {
    color: #334155;
    font-size: 13px;
    font-weight: bold;
    padding-right: 8px;
}

QMessageBox {
    background: #F8FAFF;
    color: black;
}

QMessageBox QLabel {
    color: #475569;
    font-size: 13px;
}

QMessageBox QPushButton {
    background: #4318FF;
    color: white;
    border-radius: 10px;
    padding: 8px 18px;
    min-width: 70px;
    font-weight: bold;
}

QMessageBox QPushButton:hover {
    background: #2F0DCC;
}